.add-post-form {
    max-width: 588px;
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    text-align: right;
}

.add-post-form textarea {
    width: 100%;
    resize: vertical;
   
}